/*------------------------------------------------------Body----------------------------------------------------------*/
body
            {                                     	              /*background-image: url("images/background.jpg")*/
              color: white;
            }
/*---------------------------------------------------------Main navigation-------------------------------------------------------*/
.navigation
{
margin-top : 240px;


}
/*---------------------------------------------------------All headers-------------------------------------------------------*/
.header
{
height : 540px;
background-image: url("images/a.jpg")
/*background-color : yellow;*/
text-align : center;		
}

